CompileFlags:
  CompilationDatabase: .

  Add:
    - -g
    - -O0
    - -I.

  Remove:
    - -O*
    - -Ofast

Diagnostics:
  Suppress:
    - pp_file_not_found
    - unused-command-line-argument
    - unknown-warning-option

Index:
  Background: Build
